<p>getstudentbyrollno works!</p>
<p>studentbyid works!</p>

<form  (ngSubmit)="GetStudentById()">
    <div class="form-group" >
        <label for="studid"> Id : </label>
        <input type="text" [(ngModel)]="id" name="studid" placeholder="Enter Student id" >
    </div>
    <div class="form-group" >
        <input type="submit" value="Fetch" class="btn btn-success">
    </div>

</form>

<div *ngIf="student">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">RollNo</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone No</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{student.rollno}}</td>
                <td>{{student.studname}}</td>
                <td>{{student.addr}}</td>
                <td>{{student.phno}}</td>
            </tr>

        </tbody>
    </table>

</div>
